.gw-fit {
    width: -webkit-max-content;
}

.gw-main {
    padding-top: 5% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.gw-fullvw {
    width: 100vw !important;
}

.gw-HIDE {
    display: none;
}

.gw-maintitle {
    text-align: center;
    font-size: 5vw;
    font-family: "Nanum Brush Script";
}




.rtv2-style {
    text-decoration: none;
    position: relative;
    padding: 0 8px 12px;
    display: inline-block;
    vertical-align: top;
}